<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="trainingVectorsPath" value="training-vectors.dat"/>
    <add key="neuralNetworkPath" value="neural-network.dat"/>
    <add key="inputVectorLength" value="400"/>
    <add key="hiddenVectorLength" value="102"/>
    <add key="outputVectorLength" value="26"/>
    <add key="bitmapSideLength" value="20"/>
  </appSettings>
</configuration>